@import url('https://fonts.googleapis.com/css2?family=Gloock&family=Host+Grotesk:ital,wght@0,300..800;1,300..800&family=Kode+Mono:wght@400..700&family=Roboto:wght@400;500&family=Russo+One&display=swap');

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.fade-in {
  animation: fadeIn 0.5s ease-in-out;
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  --primary-color:#3282B8;
  --seconday-color:#0F4C75;
  --text-color:#ffffff;
  --background-color: #1B262C;

}

.main{
  /* border: 2px solid green; */
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 100px;
}
.title{
   
  
/* border:2px solid green; */
  
 padding: 2px;
 margin: 20px;
 position: relative;
 bottom: 150px;
 font-family:  "Russo One", serif;

}
 .orclass{
  font-size: 25px;
   
  position: relative;
  bottom: 5px;
  font-family: "Kode Mono", serif;
 }
.upload{
/* border: 2px solid green; */
}
.recieve{

}
 button{
  height: 70px;
  width: 170px;
  padding: 0px;
  background-color: var(--primary-color);
 
box-shadow: 18px 15px 85px -15px rgba(15, 76, 117, 0.002);
transition: all 0.5s ease;
font-weight:400;
font-size: 23px;

 }
button:hover{
  transform: translate(-5px, -5px);
  font-weight:600;
  
box-shadow: 5px 5px 11px -2px rgba(28, 135, 206, 0.71)



}
.uploadBack{
 
  position: absolute;
  top:30px;
  left: 30px;
  border-radius: 50px;
  width: 30%;
  max-width: 100px;
  font-size: medium;
  font-weight: bold ;

}
 
 

 
 